*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1d1d1d;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.topbar{
    background-color: #333;
    color: white;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topbar-left{
    display: flex;
    align-items: center;
    margin-left: 150px;
}
 .navbar a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 18px;
}
.navbar a:hover{
    color: rgb(177, 128, 37);
}
.topbar-left img{
    padding: 0 150px;
}
.topbar-right{
    display: flex;
    align-items: center;
    margin-right: 150px;
}
.topbar-right img{
    padding: 20px;
}
.header{
    background-image: url("image/cofe.jpg");
    height: 90vh;
    background-size: cover;
    display: flex;
    align-items: center;
}
.text{
    width: 400px;
    margin-left: 100px;
}
.text h2{
    font-size: 42px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text p{
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.text button{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(158, 125, 64);
    border: none;
    color: white;
}
.box{
    display: flex;
    margin:  60px;
    margin-right: 100px;
    align-items: center;
    gap: 40px;
}
.box0{
    box-shadow: 0 0 5px 1px rgb(129, 127, 127);
    padding: 20px;
    background-color: #121214;
}
.box0 p{
    margin-bottom: 20px;

}
.grid{
    margin: 110px 150px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 20px;
}
.item{
    background-size: cover;
   
}
.item1{
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url("image/Rectangle\ 4.svg");
}
.item2{
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url("image/Rectangle\ 4\ \(1\).svg");
}
.item3{
    grid-column: 2/3;
    grid-row: 1/3;
    background-image: url("image/Rectangle\ 14.svg");
}
.item4{
    grid-column: 3/4;
    grid-row: 1/3;
    background-image: url("image/Rectangle\ 6.svg");
    box-shadow: none;
    display: flex;
    align-items: center;
}
.textt{
    margin: 20px;
}
.textt h3{
    padding:  20px 0;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.textt p{
    font-weight: 100;
    color: #868484;
}
.textt h6{
    font-weight: 400;
    color: rgb(148, 120, 67);
}
.text1{
    text-align: center;
    margin: 30px;
    margin-top: 80px;
}
.text1 p{
    color: rgb(148, 120, 67);
}
.popular{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}
.boxx{
    box-shadow: 0 0 5px 1px rgb(129, 127, 127);
    padding: 20px;
    text-align: center;
    background-color: #121214;
}
.boxx h4{
    padding: 20px 0;
    font-family: 'Courier New', Courier, monospace;
}
.boxx button{
    padding: 10px 20px;
    background-color:rgb(201, 164, 99) ;
    border-radius: 5px;
    border: none;
    color: white;
}
.boxx p{
    color: rgb(171, 138, 79);

}
.but{
    text-align: center;
    margin: 50px;
}
.but button{
    padding: 10px 20px;
    background-color:rgb(201, 164, 99) ;
    border-radius: 5px;
    border: none;
    color: white;
}
.coffe{
    background-color: #1b1512;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 150px;
    height: 400px;
}
.coffe-left{
    margin-left: 100px;
}
.coffe-left img{
    width: 200px;
    height: 300px;
}
.coffe-right{
    width: 400px;
    margin: 100px;
}
.coffe h3{
    font-size: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.coffe p{
    font-weight: 200;
    color: #a7a6a6;
    margin: 20px 0;
}
.coffe button{
    padding: 10px 20px;
    background-color:rgb(201, 164, 99) ;
    border-radius: 5px;
    border: none;
    color: white;
}
.grid1{
    margin: 10px 100px ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 80px);
    gap: 20px;
}
.item{
    border: 1px solid rgb(155, 154, 154);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.item img{
    width: 60px;
    height: 60px;
    margin-left: 10px;
}
.grid1 .item p{
    margin-right: 200px;
    font-weight: 500;
}
.our{
    display: flex;
    margin: 10px 120px;
    gap: 20px;
}
.our-left{
    display: flex;
    padding: 40px;
    box-shadow: 0 0 5px 1px rgb(152, 152, 152);
    background-color:#1b1716 ;
}
.ii img{
    margin: 0 20px 10px 0;
}
.our p{
    font-weight: 200;
    color: #a7a6a6;
}
.map{
    display: flex;
    justify-content: center;
    height: 500px;
    margin: 50px 150px;

}
.box2{
    background-color: #1b1512;
    width: 450px;
    text-align: center;
}
.box2 .person{
    padding: 10px;
    margin: 20px;
    background-color:#1d1d1d;
    border-radius: 5px;
}
.box2 button{
    padding: 10px 20px;
    background-color:rgb(201, 164, 99) ;
    border-radius: 5px;
    border: none;
    color: white;
    margin-top: 20px;
}
.bottom{
    margin-top: 100px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 5px 1px rgb(127, 126, 126);
}
.bottom button{
    padding: 10px 30px;
    background-color: #1b1512;
    border: none;
    color: silver;
    border-radius: 100px;
}


